<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCptaMYSj7bLCHK3gaAVzHTuLO19XaqpbM</string>
	<key>GCM_SENDER_ID</key>
	<string>493518546620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poli.politech</string>
	<key>PROJECT_ID</key>
	<string>politech-df41f</string>
	<key>STORAGE_BUCKET</key>
	<string>politech-df41f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493518546620:ios:268e6a65c0c54f15a7d2b9</string>
</dict>
</plist>